html, body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

#canvas-main {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  background-color: #000000;
}

#canvas-loader {
  position: absolute;
  display: none;
}